
<div class="card shadow">
    <p class="h4 card-header">Add New Company</p>
    <div class="card-body bg-light">
        <p class="card-text h6">Please fill the details:</p>
        <div class="row">  
            <div class="col-sm-4"></div>  
            <div class="col-sm-4">  
                <div [hidden]="!submitted">  
                   <h4>Company Added SuccessFully!</h4>  
                   <button (click)="addCompanyForm()" class='btn btn-primary' style="margin: 2px;">Add More</button>  
                   <button onclick="window.location.reload()" class='btn btn-primary' style="margin: 2px;"> Cancel</button>  
                </div>        
            </div>  
            <div class="col-sm-4"></div>  
          </div> 
        <form [formGroup]="companyaddform" (ngSubmit)="saveCompany(saveCompany)">
            <div class="input-group mt-3 mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Company Name</span>
                </div>
                <input type="text" class="form-control" formControlName="name" />
            </div>
            
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"> Turnover in Rs.</span>
                </div>
                <input type="text" class="form-control" formControlName="turnover">
                <div class="input-group-append">
                    <span class="input-group-text">.00</span>
                </div>
            </div>
            <div class="input-group mt-3 mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">CEO</span>
            </div>
                <input type="text" class="form-control" formControlName="CEO" />
            </div>
            <div class="input-group mt-3 mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Board of Director</span>
                </div>
                <input type="text" class="form-control" formControlName="director"/>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">About Company</span>
                </div>
                <textarea class="form-control" aria-label="With textarea" formControlName="about"></textarea>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Options</label>
                </div>
                <!-- <select class="custom-select" id="inputGroupSelect01" formControlName="exchange">
                    <option selected>Choose Stock Exchange...</option>
                    <option value="BSE">BSE</option>
                    <option value="NSE">NSE</option> 
                </select> -->
                <select class="custom-select" id="inputGroupSelect01" formControlName="exchange">
                    <option *ngFor="let exchange of exchangeArray" [value]="exchange.stockExchangeName"> {{exchange.stockExchangeName}}</option>
                </select>
                
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect02" >Options</label>
                </div>
                <select class="custom-select" id="inputGroupSelect02" formControlName="sector">
                    <option *ngFor="let sector of sectorArray" [value]="sector.name"> {{sector.name}}</option>
                </select>
            </div>
            <div class="d-flex no-gutters">
                <div class="col">
                    <button type="submit" class="btn btn-success">Add</button>
                    <button type="reset" class="btn btn-danger ml-2">Reset</button>
                </div>
            </div>
        </form>
          
    </div>
</div>
